.menu__list {
	display: flex;
}
.menu__item {
	&:not(:last-child) {
		margin-right: 30px;
	}
}
.menu__link {
	@extend .transition-active;
	border-bottom: 1px solid transparent;
	&:hover {
		border-color: currentColor;
	}
}
