// colors
$white: #fff;
$black: #000;
$gray: #cfcfcf;
$light-gray: #d5d5d5;
$dark-gray: #555770;
$slght-dark-gray: #ededf1;

// texts
$main-text: $black;
$white-text: $white;
$checkbox-text: #8c8c8c;

/* backgrounds */
$white-bg: $white;
$blue-bg: #3366ff;

// others
$placeholder: #8e90a6;
$border: $gray;
$speed: 0.3s linear;
$default-transition-duration: 0.4s;
$default-transition-function: ease-out;
